body{
    background-color: black;
}

main{
    display: flex;
    justify-content: center;
    
}

#cenario{
    margin-top: 20%;
    position: relative;
   
}
#background{
    flex-shrink: 0;
}

#img-scorpion{
    width: 80px;
    height: 120px;
    position: absolute;
    top: 130px;
    left: 300px;
}

