body{
    background-image: url('torre.png'); ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: darkorange;
}

#avatar{
    position: absolute;
    top: 50px;
}