body{
    background-color: black;

}

main{
    display: flex;
    justify-content: center;
    
}

#cenario{
    margin-top: 20%;
    position: relative;
   
}
#background,#background1,#background2{
    flex-shrink: 1;
    position: absolute;

}
#background{
    right: 300px;
    top: 280px;
}
#background1{
    top: 280px;
    right: -96px;
}
#background2{
    left: 97px;
    top: 280px;
}
#img-scorpion{
    width: 80px;
    height: 120px;
    position: absolute;
    top: 390px;
    left: -220px;
}
#img-subzero{
    transition: 1s all;
    opacity: 100%;
    width: 100px;
    height: 134px;
    position: absolute;
    top: 400px;
    left: 120px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#img-ermac{
    opacity: 100%;
    width: 100px;
    height: 125px;
    position: absolute;
    top: 380px;
    left: 90px;
   
    transition: 0s all;
}


#zombie{
    opacity: 0%;
    width: 80px;
    height: 120px;
    position: absolute;
    top: 390px;
    left: 30px;
    transition: 1s all;
}
#zombie1{
    opacity: 0%;
    width: 80px;
    height: 120px;
    position: absolute;
    top: 385px;
    left: 170px;
    transition: 1s all;
}
#zombie2{
    transform: scaleX(-1);
    opacity: 0%;
    width: 80px;
    height: 120px;
    position: absolute;
    top: 410px;
    left: 60px;
    transition: 1s all;

}
.round1{
    width: 150px;
    height: 120px;
    position: absolute;
    top: 70px;
    left: 600px;
}